{% extends "base.html" %}
{% block title %} Car Catalog - Serving the Car World {% endblock %}

{% block content %}
<body style="background-color: silver;">
    <p></p>
    ------------------------------------------------------------------------
<div id="results">
    {% for row in r %}
    <p>{{row[8]}} {{row[0]}} <b>{{row[1]}} {{row[2]}}</b></p>        
    ${{row[6]}}
    <br>
    <div class="specs">
        <p>{{row[7]}} Miles =-= {{row[13]}} =-= {{row[9]}} =-= {{row[4]}} Cylinders
    </div>
    <div class="type">
        <p>{{row[11]}}</p>
    </div>
    <a href="{{ row[-2][:-1] }}" target="_blank">Image Link</a>
    <br>
    ------------------------------------------------------------------------
    {% endfor %}
</div>
</body>
{% endblock %}